<div class="sidebar-container" [ngClass]="{ collapsed: isCollapsed() }">
  <div class="sidebar-header">
    <a id="logo-mobile">&nbsp;</a>
    <a id="logo-full">
      @if (!isCollapsed()) {
      <img src="logo.png" alt="Granja linda logo">
      <div>
        <span>Panel</span>
        <span>Administrativo</span>
      </div>
      } @else {
      <img src="logo-2.png" alt="Granja linda logo">
      }
    </a>
    <button id="btn-cerrar" (click)="toggleSidebar()" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <div class="sidebar-content">
    <ul class="sidebar-nav">

      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="alo" routerLinkActive="active" class="nav-link">
          <mat-icon>store</mat-icon>
          <span class="nav-text">Alo</span>
        </a>
      </li>

      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="pedidos" routerLinkActive="active" class="nav-link">
          <mat-icon>shopping_cart</mat-icon>
          <span class="nav-text">Pedidos</span>
        </a>
      </li>

      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="motorizados" routerLinkActive="active" class="nav-link">
          <mat-icon>two_wheeler</mat-icon>
          <span class="nav-text">Motorizados</span>
        </a>
      </li>

    </ul>
    <div class="sidebar-profile">
      <button class="btn-logout" [matMenuTriggerFor]="menu">
        <mat-icon>person_outline</mat-icon>
        <span class="profile-text">
          {{ user() }}
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>Cerrar Sesión</button>
      </mat-menu>
    </div>
  </div>
</div>