@use '@angular/material' as mat;

$m2-primary: (
  50: #eeeefd,
  100: #d4d4fb,
  200: #b7b8f9,
  300: #9a9cf7,
  400: #8586f5,
  500: #6757FE,
  600: #5f4fe4,
  700: #5446c7,
  800: #493caa,
  900: #372a7d,
  A100: #eaeaff,
  A200: #b7b7ff,
  A400: #8484ff,
  A700: #6a6aff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  )
);

$m2-accent: (
  50: #e0fdfe,
  100: #b3f9fd,
  200: #80f6fc,
  300: #4df2fb,
  400: #26eefa,
  500: #08F7FE,
  600: #07e5ea,
  700: #06cad0,
  800: #05b0b5,
  900: #03848a,
  A100: #e0fdfe,
  A200: #b3f9fd,
  A400: #26eefa,
  A700: #06cad0,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$m2-error: (
  50 : #ffebee,
  100 : #ffcdd2,
  200 : #ef9a9a,
  300 : #e57373,
  400 : #ef5350,
  500 : #f44336,
  600 : #e53935,
  700 : #d32f2f,
  800 : #c62828,
  900 : #b71c1c,
  A100 : #ff8a80,
  A200 : #ff5252,
  A400 : #ff1744,
  A700 : #d50000,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$my-primary: mat.m2-define-palette($m2-primary);
$my-accent: mat.m2-define-palette($m2-accent);
$my-warn: mat.m2-define-palette($m2-error);

$my-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn )));

$custom-typography: mat.m2-define-typography-config($font-family: 'Inter, sans-serif'
  );

@include mat.core();
@include mat.all-component-themes($my-theme);
@include mat.all-component-typographies($custom-typography);