<div class="movie-div">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input #id type="number" formControlName="id" placeholder="id" (keyup.enter)="searchMovieDB(id.value)">
    <input formControlName="title" placeholder="Título">
    <input type="number" formControlName="release_year" placeholder="Año">
    <input type="number" formControlName="rating" placeholder="Rating">
    <input formControlName="quality" placeholder="Calidad">
    <input formControlName="poster_url_large" placeholder="URL del póster">
    <input formControlName="video_url" placeholder="URL del video">
    <input type="number" formControlName="duration_minutes" placeholder="Duración">
    <input type="date" formControlName="release_date" placeholder="Fecha de estreno">
    <button type="submit" [disabled]="form.invalid">Guardar</button>
  </form>
  @if (isLoading()) {
  <div class="spinner">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
  }
</div>