:root {
  --primary-color: #6757FE;
  --primary-hover-color: #523FFE;
  --primary-active-color: #3124B2;
  --primary-disabled-color: #3E3499;

  --secondary-color: #9A92FF;
  --secondary-disabled-color: #6C66B2;
  --secondary-tint01-color: #D0CCFF;
  --secondary-transparent-color: #9A92FF80;

  --accent-color: #08F7FE;

  --neutral-color: #0D0D1C;
  --neutral-light-color: #1D174C;
  --neutral-hover-color: #161247;
  --neutral-active-color: #1E1A65;
  --neutral-disabled-color: #1B1B3F;

  --transparent-color: #04011A40;
  --transparent-hover-color: #04011A4D;
  --transparent-active-color: #04011A80;
  --transparent-disabled-color: #24232980;

  --white-color: #FBFBFB;
  --white-transparent01-color: #FFFFFF80;
  --white-transparent02-color: #FFFFFF1A;

  --success-light-color: #0FEEBF;
  --success-dark-color: #06604D;
  --info-light-color: #2082F1;
  --info-dark-color: #063060;
  --warning-light-color: #F84242;
  --warning-dark-color: #940505;

  --primary-font: "Inter", serif;
  --secondary-font: "Oswald", serif;

  --mdc-snackbar-container-shape: 1rem;
  --mdc-switch-track-height: 2.5rem;
  --mdc-switch-track-shape: 1.5rem;

  --mat-table-header-container-height: 4rem;
  --mat-table-header-headline-color: var(--primary-color);
  --mat-table-header-headline-size: 1.4rem;
  --mat-table-header-headline-weight: 600;
  --mat-table-row-item-container-height: 4rem;
  --mat-table-row-item-label-text-color: var(--black-color);
  --mat-table-row-item-label-text-size: 1.3rem;
  --mat-table-row-item-label-text-weight: 400;
  --mat-form-field-container-vertical-padding: 1.4rem;

  --mdc-circular-progress-active-indicator-color: #FFFFFF;
}

html,
body {
  margin: 0;
  font-size: 1.6rem;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
    transform: scale(1.01);
  }
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  list-style: none;
}

input[type="number"] {

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-moz-inner-spin-button,
  &::-moz-outer-spin-button {
    -moz-appearance: none;
    margin: 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mdc-snackbar__label {
  padding: 0 !important;
}

.mdc-snackbar__surface {
  padding: 0 !important;
}

.h-50 {
  --mat-form-field-container-height: 50px;

  .mat-mdc-text-field-wrapper {
    height: 50px !important;
  }
}

.badge {
  display: block;
  padding: 4px 8px;
  text-align: center;
  border-radius: 1em;
  border: 1px solid;
  white-space: nowrap;
  min-width: 35px;
  max-width: 60px;
}

.badge-active {
  background-color: #DCFCE7;
  border-color: #22C55E;
  color: #14532D;
}

.badge-inactive {
  background-color: #FEE2E2;
  border-color: #FF8A8A;
  color: #7F1D1D;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center !important;
}

.tooltip-blue {
  --mdc-plain-tooltip-container-color: var(--primary-color);
  border-radius: 3px;
}

.mat-grid-tile-content {
  flex-direction: column;
}


.my-text-area {
  resize: none;
  field-sizing: content;
}

.mat-mdc-paginator-container {
  padding: 8px !important;
}