div {
  display: flex;
  padding: 1rem;
  span {
    margin: 0 auto;
    font-size: 1.3rem;
    color: #F7FAFB;
    font-weight: 500;
    line-height: 2.1rem;

    a {
      color: #F7FAFB;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}